certifi==2025.6.15
charset-normalizer==3.4.2
Cython==3.1.2
docutils==0.21.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filetype==1.2.0
future==1.0.0
idna==3.10
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==1.2.0
pillow==11.2.1
plyer==2.1.0
Pygments==2.19.1
pyjnius==1.6.1
pytubefix==9.1.2
requests==2.32.4
setuptools==80.9.0
urllib3==2.4.0
